@media screen and (min-width: 768px) {
  main {
    max-width: 60vw;
    margin-inline: auto;
  }

  img {
    max-height: 80vh;
  }
}

img {
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 0.6em;
}

.none {
  display: none;
}
